<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>login</title>
      <link rel="stylesheet" href="/static/css/login_signup.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="login-form">
         <div class="text">
            LOGIN
         </div>
         <form action="{{ url_for('submit_login') }}" method="POST">
            <div class="field">
               <div class="fas fa-envelope"></div>
               <input type="text" name="username" placeholder="Email or Phone" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly>
            </div>
            <div class="field">
               <div class="fas fa-lock"></div>
               <input type="password" name="password" placeholder="Password" autocomplete="off" onfocus="this.removeAttribute('readonly');" readonly">
            </div>
            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
            <button type="submit">LOGIN</button>
            <div class="link">
               Not a member?
               <a href="{{ url_for('signup') }}">Signup</a>
            </div>
         </form>
      </div>
   </body>
</html>
