<!DOCTYPE html>
<html>
<head>
	<title>VideoDigest</title>
	<link rel="">
    
</head>
<body>
	<header>
		<div class="header-left">
			<div class="header-title">VIDEO DIGEST</div>
		</div>
		<div class="header-right">
			<div class="header-username">{{ username }}</div>
			<button class="logout-button">Logout</button>
		</div>
	</header>
	<div class="container">
		<div class="container-left">
			<div class="upload-box">
				<div class="upload-label">Select file to upload:</div>
				<input type="file" class="upload-input">
				<div class="upload-progress">
					<div class="progress-bar"></div>
				</div>
			</div>
		</div>
		<div class="container-right">
			<p>This is the right column.</p>
		</div>
	</div>
	<button class="next-button">Next</button>
	<script>
		const uploadInput = document.querySelector('.upload-input');
		const progressBar = "progress_bar_functionailty_to_be_added";
	
