<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoDigest</title>
    <link rel="stylesheet" type="text/css" href="/static/css/operations.css" /></link>
    <script src="/static/js/operations.js"></script>
</head>
<body>
  <header>
		<div class="header-left">
			<div class="header-title">VideoDigest</div>
		</div>
		<div class="header-right">
			<div class="header-username">{{ username }}</div>
			<form action="/logout">
				<button class="logout-button" type="logout" name="logout">Logout</button>
			</form>
		</div>
	</header>
  <body>
    <div class="video-container">
      <div class="video-left">
        <h2>Source Video</h2>
        <video id="video1" width="600" height="400" controls autoplay>
          <source src="/static/video/highway.mp4" type="video/mp4">
        </video>
        <div class="video-buttons">
          <div class="op_butons">
            <button id="generate-synopsis-btn" onclick="run_py()">Generate Synopsis</button>
            <button id="run-btn" disabled>Run</button>
          </div>
          <div class="radio-buttons">
            <input type="radio" id="query1" name="query" value="./static/video/car_final.mp4">
            <label for="query1">Fetch only cars</label><br>
            <input type="radio" id="query2" name="query" value="./static/video/bike.mp4">
            <label for="query2">Fetch only bikes</label><br>
            <!-- <input type="radio" id="query3" name="query" value="query3">
            <label for="query3">Query 3</label> -->
          </div>
        </div>
      </div>
      <div class="video-right">
        <h2>Output Video</h2>
        <video id="video2" width="600" height="450" controls>
          <source src="" type="video/mp4">
        </video>
        <div id="message-box"></div>
      </div>
    </div>
    
  </body>
  
</html>